<%= form_with(model: @spot, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :name, 'スポット名'%>
    <%= f.text_area :name, class: 'form-control' %>
  </div>
  
  <div class="form-group h-50">
    <%= f.label :description, '情報' %>
    <%= f.text_area :description, class: 'form-control', rows:10%>
  </div>
   <div class="form-group">
    <%= f.label :image1 %>
    <%= f.file_field :image1 %>
  </div>
  <div class="form-group">
    <%= f.label :image2 %>
    <%= f.file_field :image2 %>
  </div>
  <div class="form-group">
    <%= f.label :image3 %>
    <%= f.file_field :image3 %>
  </div>
  
  <div class="form-group">
    <%= f.label :address, 'Map' %>
    <%= f.text_area :address, class: 'form-control', rows:5 %>
  </div>
  
  <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
<% end %>
