<h1 class = "text-center mb-5"><%= @spot.name %></h1>

<%= render 'likes/likes_button', spot: @spot %>


<div class="spot-image">
  <div class="photo"><%= image_tag @spot.image1.to_s %></div>
  <div class="photo"><%= image_tag @spot.image2.to_s %></div>
  <div class="photo"><%= image_tag @spot.image3.to_s %></div>
</div>
<div class="spot-description">
  <div class="jumbotron">
     <p><%= simple_format(h(@spot.description)) %></p>
  </div>
</div>

<div class="spot-map">
  <%= @spot.address.try(:html_safe) %>
</div>


<% if admin? %>
 <button type="button" class="btn btn-warning">
  <%= link_to '編集', edit_spot_path(@spot) %>　　<!--admin じゃないと表示されないように-->
  <%= link_to '削除', @spot, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
 </button>
<% end %>
 
<div class="comment-conatiner">
  <h5 class="text-center">みんなの口コミ</h5> 
    <% @comments.each do |comment| %>
      <div class="card">
       <div class="card-body">
        <div class="float-left">
          <div class="card-title">
            <%= comment.user.name %>
              <% if comment.star ==1 %>
                  <span class="ml-5">★</span>
                <% elsif comment.star ==2 %>
                  <span class="ml-5">★★</span>
                <% elsif comment.star ==3 %>
                  <span class="ml-5">★★★</span>
                <% elsif comment.star ==4 %>
                  <span class="ml-5">★★★★</span>  
                <% elsif comment.star ==5 %>
                  <span class="ml-5">★★★★★</span>   
              <% end %>
          </div>
            <div class="card-text">
              <%= comment.content %>
            </div> 
        </div>
        <% if current_user == comment.user %>
          <%= link_to "削除",comment, method: :delete, data: {confirm: "削除してよろしいですか？"}, class: 'btn btn-danger btn-sm float-right' %>
        <% end %>
       </div>
      </div>
    <% end %>
</div>


  
<%= form_for(@comment, local: true) do |f| %>　　
  <%= hidden_field_tag :spot_id, @spot.id %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label '口コミを書く', class: 'mt-5' %>
      <%= f.select :star, [['★', 1],['★★', 2],['★★★', 3],['★★★★', 4],['★★★★★', 5]], class: 'form-control' %>
      <%= f.text_area :content, class: 'form-control' %>
      <br>
      <%= f.submit '投稿する' , class: 'btn btn-primary' %>
    </div>
<% end %>

    
    


