<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center"><%= @user.name %></h3>
      </div>
    </div>
  </aside>
    <div class="col-sm-8">
      <ul class="nav nav-tabs nav-justified mb-3">
        <li class="nav-item"><a href="<%= spots_user_path(@user) %>" class="nav-link">お気に入りスポット <span class="badge badge-secondary"><%= @count_likes %></span></a></li>
      </ul>
      
      <% @liked_spots.any? && @liked_spots.each do |spot| %>
        <div class="liked-spots text-center"><%= link_to spot.name, spot %></div>　　<!--要注意-->
      <% end %>
    </div>
</div>


<%= link_to 'ログアウト', logout_path, method: :delete , class: 'btn btn-danger btn-sm' %>
