<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
      <h1 class="site-name">とくしまのアソビバ</h1>
    </div>
</div>
    
<div class = "category_container">
  <div class="card text-center">
    <div class="card-body">
      <h3 class="card-title"><%= link_to 'サーフィン', category_path(1), class: 'btn btn-lg btn-info'%></h3>
      <p class="card-text">秘境のサーフスポットである徳島の有名スポットからマイナースポットまで紹介！</p>
      <% if admin? %>
        <h5><%= link_to '投稿', new_category_spot_path(1), class: 'btn btn-outline-dark'%></h5>
      <% end %>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h3 class="card-title text-center"><%= link_to 'キャンプ', category_path(2), class: 'btn btn-lg btn-warning' %></h3>
      <p class="card-text">徳島県内のキャンプ場の詳しい設備を紹介！たまに県外もあるかも・・</p>
      <% if admin? %>
        <h5><%= link_to '投稿', new_category_spot_path(2), class: 'btn btn-outline-dark' %></h5>
      <% end %>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h3 class="card-title"><%= link_to 'アウトドア', category_path(3), class: 'btn btn-lg btn-success' %></h3>
      <p class="card-text">外遊びができるアウトドアスポットを紹介！</p>
      <% if admin? %>
        <h5><%= link_to '投稿', new_category_spot_path(3), class: 'btn btn-outline-dark' %></h5>
      <% end %>
    </div>
  </div>
</div>

